h1 {
    color: #ffffff;
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    color: #FFFFFF4C;
}

h4 {
    color: #FF9023;
}

h5 {
    color: hsl(207, 22%, 10%)
}

h6 {
    color: hsla(127, 72%, 20%, 0.7)
}

div {
    background-color: rgb(32, 168, 11);
}
